@import "./variables.scss";
.containerTextoFoto {
  margin-top: -169px;
  width: 100%;
  height: 850.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  @media screen and (max-width: $anchoMobile) {
    align-items: center;
    flex-direction: column;
    margin-top: -96px;

    width: 320px;
  }
}

.fotocelu {
  width: 35%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  z-index: 0;
  margin-top: -80px;
  margin-right: 62px;
  @media screen and (max-width: $anchoMobile) {
    align-items: center;
    width: 100%;
    margin-left: -40px;
    margin-right: -40px;
  }
}

.textoLargo {
  justify-content: center;
  font-family: $IBMPlex;
  font-size: 16px;
  color: $colorDeFuente;
  letter-spacing: 0;
  line-height: 24px;
  @media screen and (max-width: $anchoMobile) {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 8px 16px 54px 16px;
  }
}

.deDondeVenimos {
  font-family: $IBMPlex;
  font-size: 48px;
  color: $colorDeFuente;
  letter-spacing: 0;
  @media screen and (max-width: $anchoMobile) {
    font-size: 36px;
  }
}

.containerTexto {
  width: 464px;
  height: 204px;
  @media screen and (max-width: $anchoMobile) {
    width: 90%;
    height: 254px;
  }
}
