@import "./variables.scss";
footer {
    display: flex;
    background-color: $colorDeFondoPrimario;
    flex-direction: row;
    @media screen and (max-width: $anchoMobile) {
        flex-direction: column;
        align-items: center;
        align-content: center;
        height: 121px;
        width: 320px;
    }
}

.socialMedia {
    font-size: 18px;
    color: $colorDeFuente;
    letter-spacing: 0;
    line-height: 28px;
    margin: 31px 100px 31px 369px;
    @media screen and (max-width: $anchoMobile) {
        margin: 8px 45px 31px 45px;
    }
    .iconoSocial {
        margin-right: 38px;
    }
}

.web {
    color: $colorDeFuente;
    font-family: $IBMPlex;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    margin: 36px 370px 31px 100px;
    @media screen and (max-width: $anchoMobile) {
        width: 227px;
        font-size: 14px;
        line-height: 22px;
        margin: 24px 22px 8px 47px;    
    }
}