@import "./variables.scss";
.primercaja {
    width: $anchoDesktop;
    display: block;
    justify-content: center;
    height: 369px;
    margin-top: 120px;
    @media screen and (max-width: $anchoMobile) {
        height: 303px;
        width: 320px;
        margin-top: 90px;
    }
}

.titulo {
    font-family: $IBMPlexSans;
    font-size: 64px;
    color: $colorDeFuente;
    letter-spacing: 0;
    margin-left: 200px;
    font-weight: 400;
    @media screen and (max-width: $anchoMobile) {
        font-size: 36px;
        margin-left: 16px;
    }
}

span.tachado {
    text-decoration: line-through;
}

span.ptoazul {
    color: $colorDeFondosecundario;
}

.parrafo {
    font-family: $IBMPlex;
    font-size: 16px;
    color: $colorDeFuente;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 56px;
    width: 628px;
    margin-left: 200px;
    @media screen and (max-width: $anchoMobile) {
        width: 288px;
        height: 66px;
        margin-left: 16px;
        font-size: 14px;
        padding-bottom:100px ;



    }
}

.conocemas {
    border: none;
    display: block;
    justify-content: flex-end;
    background: $colorDeBotones;
    font-family: $IBMPlex;
    font-weight: 500;
    color: $colorDeFuente;
    font-size: 18px;
    padding: 8px;
    height: 56px;
    width: 226px;
    margin-top: 56px;
    margin-bottom: 7px;
    margin-left: 200px;
    @media screen and (max-width: $anchoMobile) {
        width: 90%;
        height: auto;
        margin-top: 36px;
        margin-left: 16px;
    }
}
.conocemas:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    font-size: 20px;
    font-weight: 600;
    font-family: $IBMPlexSans;
}