$IBMPlex:"IBM Plex Mono",
monospace;
$IBMPlexSans:"IBM Plex Sans";
$colorDeFondoPrimario:white;
$colorDeFondosecundario:#0000EC;
$colorDeBotones:#00F3BB;
$colorDeFuente:#060A24;
$colorDeMenu:#000000;
$anchoMobile:332px;
$anchoDesktop:1440px;